@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.background-image {
  background-image: url('sean-oulashin.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.background {
  background-color: transparent;
}

:root {
  --primary: #272a31;
  --secondary: #ec5242;
  --terciary: #d3d3d3;
  --brand: #d23228;
  --success: #0d7d4d;
  --info: #03c7e8;
  --warning: #f0cc00;
  --danger: #ab0d02;
  --light: #f1ecea;
  --dark: #00262b;
  --white: #fff;
  --lato-font: 'Tangerine', serif;
}

body {
  font-family: var(--tangerine-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.my-1 {
  margin: 10px 0;
}

.right {
  text-align: right;
}

.p-1 {
  padding: 10px;
}

.users-title {
  padding: 15px;
  margin: 15px 0;
}

.card {
  padding: 10px;
  margin: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(111, 108, 108, 0.2);
  transition: 0.3s;
}

.flex {
  display: flex;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.hover {
  cursor: pointer;
}

.hover:hover {
  background-color: #b5f6ff;
  transform: scale(1.05);
}

.user-image {
  max-width: 120px;
  margin: 10px;
  flex: 20%;
}

.user-data {
  padding: 10px;
  text-align: left;
  margin: 10px;
  flex: 80%;
}

.border {
  border: 1px solid black;
}

.number-posts {
  padding: 10px;
  text-align: right;
}

.bg-green {
  background: #0d7d4d;
  color: #f1ecea;
}

.btn {
  border: 0;
  border-radius: 0.25rem;
  background: #32393f;
  color: white;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  cursor: pointer;
}

.btn-del {
  border: 0;
  border-radius: 0.25rem;
  background: #df5a5a;
  color: white;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  cursor: pointer;
}

.btn:hover {
  background: #272a31;
  color: #f1ecea;
}

.commets-container {
  padding: 10px;
}

nav {
  width: 100%;
  top: 0;
  background: #32393f;
  color: white;
  padding: 20px;
  z-index: 10;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-link {
  list-style: none;
  margin-left: 10px;
}

.nav-link a {
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
}

.nav-link button {
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
}

.logo a {
  padding: 10px;
  font-size: 32px;
  text-decoration: none;
  color: #fff;
}

.form-control {
  width: 400px;
  padding: 5px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  color: #191765;
  margin: 10px;
}
